@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700italic);

html {
  position: relative;
  min-height: 100%;
}
.news-checkbox {
  margin-right: 50px !important;
  margin-left: 5px !important;
}

*{
  margin: 0;
  padding: 0;
}
body{
}

#img_logo{
  height: 20%;
  width: 20%;
}
.outer_box{
  height: 70vh;
  width: 70%;
  margin-top: 10%;
  margin-left: 13.5%;
}
.members_wrapper{
  margin: auto;
  /*height: 70vh;*/
  width: 100%;
  text-align: center;
}
.outer_box3{
  height: 80vh;
  width: 90%;
  margin: 0 2% 0 4.6%;
}
.fa.fa-google{
 height: 7vh;
 width: 35%;
 color: white;
 text-align: center;
 padding-top: 1%;
 font-size: 2vw;
 border-radius: 12px;
 background-color: #DD4B39;
}
.members_header{
  font-family: 'Roboto Slab', serif;
  color: #DD4B39;
}
#snippetto_title{
  font-family: 'Roboto Slab', serif;
}
.login_jumbo{
  width: 100%;
  height: auto;
  margin: 0;
}
#login-welcome-header{
  margin: 0;
  text-align: center;
}
#login-lead{
  margin: 0 0 3% 0;
  text-align: center;
}
#login-label-checkbox{
  margin: 0 3% 0 0;
  float: right;
}
.login-hr-linebreak{
  margin: 0;
}
#login-footer{
  margin:0;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
 /* Set the fixed height of the footer here */
  height: 25px;
}

#left_icons{
  text-align: center;
  height: 75%;
  width: auto;
  margin-left: auto;
}
#right_icons{
  text-align: center;
  height: 75%;
  width: auto;
  margin-right: auto;
}
.icons{
  height: 115%;
  width: 95%;
  border-radius: 80%;
  border-style:none;
}
.left_icons button{
  border-style:none;
  background-color: white;
}
.right_icons button{
  border-style:none;
  background-color: white;
}
.scroll{
  width: 100%;
  height: 75vh;
  overflow: scroll;
}
hr {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
.news-row-container{
  margin-bottom: 15px;
}
.row{
  width: 100%;
  height: auto;
  /*margin-bottom: 15px;*/
}
#news_section-and-icon_column{
  text-align: center;
}
.news_title{
  margin: 0;
}
#news_icon{
  border-radius: 8px;
  height: 100%;
  width: auto;
}
.capitalize {
   text-transform: capitalize;
}

.pref-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pref-tabs-header {
  text-align: center;
}

/*Dat Map*/
#map {
    height:75vh;
    width:85vw;
}
