@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
*{
  margin: 0;
  padding: 0;
}
body{
}
.wrapper{
  height: 95vh;
  width: 100%;
}
#img_logo{
  height: 10%;
  width: 10%;
}
.outer_box{
  height: 70vh;
  width: 70%;
  margin-top: 10%;
  margin-left: 13.5%;
}
.outer_box2{
  height: 70vh;
  width: 70%;
  margin-left: 13.5%;
}
.fa.fa-google{
 height: 7vh;
 width: 35%;
 color: white;
 text-align: center;
 padding-top: 1%;
 font-size: 220%;
 border-radius: 12px;
 background-color: #DD4B39;
}
#snippeto_title{
  font-family: 'Roboto Slab', serif;
}
