<div class="members_wrapper">
<a href="http://localhost:8000/#/members"><button type="button" name="button"><img id='back-icon'src="images/navigate-left.ico" alt="" /></button></a>

  <div class="col-md-2 col-md-offset-5">

  <h3>Quote of the Day!</h3>
  <p>{{fun.qoute}}</p>
  <p>Author: {{fun.author}} </p>

  <h3>Word of the Day!</h3>
  <p>{{fun.word}}</p>
  <p>Definition: {{fun.definition}}</p>
  <p>Part of speech: {{fun.pof}}</p>
  <p>{{fun.example}}</p>

  <h3>Advice of the Day!</h3>
  <p>{{fun.advice}}</p>

  <h3>What would Chuck Norris do?</h3>
  <p>{{fun.chuckNorris}}</p>

  </div>

</div>
