<div class="members_wrapper">
  <div ng-include="header"> </div>
  <br>
  <br>
  <div class='nav-fixer'>
  </div>
  <div class="fun_mid col-md-5 col-md-offset-3">
    <h3 class="fun_font">Quote of the Day!</h3>
    <p class="fun_p">{{fun.qoute}}</p>
    <p class="fun_author">Author: {{fun.author}} </p>

    <h3 class="fun_font">Word of the Day!</h3>
    <strong><u><p class="fun_p_word">{{fun.word}}</p></u></strong>
    <p class="fun_p">Definition: {{fun.definition}}</p>
    <p class="fun_p">Part of speech: {{fun.pof}}</p>
    <p class="fun_p">{{fun.example}}</p>

    <h3 class="fun_font">Advice of the Day!</h3>
    <p class="fun_p">{{fun.advice}}</p>

    <h3 class="fun_font">What would Chuck Norris do?</h3>
    <p class="fun_p">{{fun.chuckNorris}}</p>

  </div>

</div>
