<div ng-include="header"> </div>
<br>
<br>
<div class="container">
  <!-- Widget Row -->
  <div class="row">
    <div class="col-lg-4 col-sm-6 text-center">
      <a ui-sref="news"><button type="button" name="news"><img class='img-circle img-responsive img-center icons' src="images/blue-logos/interface.png" alt="" /></button></a>
      <h3>News</h3>
      <p>Stay up-to-date on your favorite news from The New York Times and Reddit.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a ui-sref="weather"><button type="button" name="weather"><img class='img-circle img-responsive img-center icons' src="images/blue-logos/sky.png" alt="" /></button></a>
      <h3>Weather</h3>
      <p>Jacket? Shorts? Umbrella? Plan your day accordingly using our three day forecast.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a ui-sref="traffic"><button type="button" name="traffic"><img class='img-circle img-responsive img-center icons' src="images/blue-logos/signs.png" alt="" /></button></a>
      <h3>Traffic</h3>
      <p>Never take long way again! Track your daily commute and beat the congestion!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a ui-sref="youtube"><button type="button" name="twitter"><img class='img-circle img-responsive img-center icons' src="images/blue-logos/youtube-logo.png" alt="" /></button></a>
      <h3>Youtube</h3>
      <p>Need the perfect song for your commute? Dive into a rabbit hole of Today's top YouTube videos.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a ui-sref="todo"><button type="button" name="calendar"><img class='img-circle img-responsive img-center icons' src="images/blue-logos/checklist-and-pencil.png" alt="" /></button></a>
      <h3>To Do</h3>
      <p>"Planning and tracking daily activities increases your productivity by 175%" - Albert Einstein</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <a ui-sref="fun"><button type="button" name="quote_of_the_day"><img class='img-circle img-responsive img-center icons' src="images/blue-logos/signs-1.png" alt="" /></button></a>
      <h3>FUN!</h3>
      <p>Life is about fun! Daily quotes, words of the day, and much more!</p>
    </div>
  </div>
</div>
