<div class="wrapper">
  <div class="outer_box">
    <div class="modal-header" align="center">
      <img class="img-circle" id="img_logo" src="images/Snippetto.png">
      <h1>Snippetto</h1>
    </div>
    <div id="div-forms">

      <!-- Begin # Login Form -->
      <form id="login-form">
        <div class="modal-body">
        <input id="login_username" class="form-control" type="text" placeholder="Username" required>
        <input id="login_password" class="form-control" type="password" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
        </div>
        <div>
          <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
          <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
          <button id="guest_btn" type="button" class="btn btn-link">Guest</button>
        </div>
      </div>
    </form>
  </div>

  </div>
  </div>
