<div class="wrapper">
  <div class="outer_box">
    <div class="modal-header" align="center">
      <img class="img-circle" id="img_logo" src="images/Snippetto.png">
      <h1 id='snippetto_title'>Snippetto</h1>
    </div>
    <div id="div-forms">

      <!-- Begin # Login Form -->
        <a href="https://accounts.google.com/AccountChooser?continue=https://accounts.google.com/o/oauth2/v2/auth?access_type%3Doffline%26scope%3Demail%2Bprofile%2Bhttps://www.googleapis.com/auth/plus.login%26response_type%3Dcode%26state%3Dhello%26client_id%3D709501805031-d87qamtke60go50st3tiv2lu235fpcfb.apps.googleusercontent.com%26redirect_uri%3Dhttp://localhost:8000%26from_login%3D1%26as%3D1cb293ffbd85eae5&btmpl=authsub&scc=1&oauth=1" class="btn btn-block btn-social btn-google">
          <button class="fa fa-google">  | Sign in with Google</button>
        </a>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>

      <div class="modal-footer">
        <div>
          <button id="guest_btn" type="button" class="btn btn-link">Guest</button>
        </div>
      </div>
  </div>
  </div>
  </div>
