<div class="wrapper">
  <div class="outer_box">
    <div class="modal-header" align="center">
      <img class="img-circle" id="img_logo" src="images/Snippetto.png">
      <h1 id='snippetto_title'>Snippetto</h1>
    </div>
    <div id="div-forms">

      <!-- Begin # Login Form -->
      <form id="login-form">
        <a class="btn btn-block btn-social btn-google">
          <button class="fa fa-google">  | Sign in with Google</button>
        </a>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>

      <div class="modal-footer">
        <div>
          <button id="guest_btn" type="button" class="btn btn-link">Guest</button>
        </div>
      </div>
    </form>
  </div>
  </div>
  </div>
