<div class="wrapper">
  <div class="outer_box2">
    <div class="modal-header" align="center">
      <img class="img-circle" id="img_logo" src="images/Snippetto.png">
      <h1 id='snippetto_title' class='img-responsive'>Snippetto</h1>
    </div>
<div class="left_icons">

  <a ui-sref="news"><p><button type="button" name="news"><img class='img-responsive icons' src="images/news-icon-38.png" alt="" /></button></p></a>
  <p><a ui-sref="weather"><button type="button" name="weather"><img class='img-responsive icons' src="images/Weather_icons_grey-03-512.png" alt="" /></button></a></p>
  <p><a ui-sref="traffic"><button type="button" name="traffic"><img class='img-responsive icons' src="images/traffic.png" alt="" /></button></a></p>
</div>
<div class="right_icons">
  <p><a ui-sref="twitter"><button type="button" name="twitter"><img class='img-responsive icons' src="images/twitter.png" alt="" /></button></a></p>
  <p><a ui-sref="calendar"><button type="button" name="calendar"><img class='img-responsive icons' src="images/calendar-icon.png" alt="" /></button></a></p>
  <p><a ui-sref="fun"><button type="button" name="quote_of_the_day"><img class='img-responsive icons' src="images/quotes.png" alt="" /></button></a></p>
</div>

  </div>
    </div>
