<div class="members_wrapper">
  <div class="modal-header" align="center">
    <img class="img-circle" id="img_logo" src="images/Snippetto.png">
    <h1 id='snippetto_title' class='img-responsive'>Snippetto</h1>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <section id='left_icons'>
        <p>News
          <a ui-sref="news"><button type="button" name="news"><img class='img-responsive icons' src="images/blue-logos/interface.png" alt="" /></button></a>
        </p>
        <p>Weather
          <a ui-sref="weather"><button type="button" name="weather"><img class='img-responsive icons' src="images/blue-logos/sky.png" alt="" /></button></a>
        </p>
        <p>Traffic
          <a ui-sref="traffic"><button type="button" name="traffic"><img class='img-responsive icons' src="images/blue-logos/signs.png" alt="" /></button></a>
        </p>
      </section>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <section id='right_icons'>
        <p>Twitter
          <a ui-sref="twitter"><button type="button" name="twitter"><img class='img-responsive icons' src="images/blue-logos/social-network.png" alt="" /></button></a>
        </p>
        <p>Calendar
          <a ui-sref="calendar"><button type="button" name="calendar"><img class='img-responsive icons' src="images/blue-logos/calendar.png" alt="" /></button></a>
        </p>
        <p>Fun!
          <a ui-sref="fun"><button type="button" name="quote_of_the_day"><img class='img-responsive icons' src="images/blue-logos/signs-1.png" alt="" /></button></a>
        </p>
      </section>
    </div>
  </div>
</div>
