<div class="wrapper">
<div class="outer_box3">
<div class="modal-header" align="center">
  <img class="img-circle" id="img_logo" src="images/Snippetto.png">
  <h1 id='snippetto_title'>Snippetto</h1>
</div>

    <h1 id='title'>Top News Stories</h1>
    <div class="border" ng-repeat="story in news.stories">
      <div class="story-img">
        <img src="{{story.multimedia[0].url}}" alt="" />
      </div>
      <div class="story">
        <a href="{{story.url}}" target="blank"><h3 class="display-1">{{story.title}}</h3></href>
          <p id='words'>{{story.abstract}}</p>
      </div>
      </div>
  </div>
</div>
<!-- list-group-item -->
