<div class="wrapper">
<div class="outer_box3">
<div class="modal-header" align="center">
  <img class="img-circle" id="img_logo" src="images/Snippetto.png">
  <h1 id='snippetto_title'>Snippetto</h1>
</div>
    <a ui-sref="reddit" class="btn btn-primary">Reddit</a>
    <a ui-sref="members" class="btn btn-primary">Home Page</a>
    <h1 class="h1 display-1">New York Times</h1>
    <h3 id='title'>Top News Stories</h3>
    <div class="scroll">
      <div class="border" ng-repeat="story in news.stories">
        <div class="story-img">
          <img id='news-icon' class='img-responsive' src="{{story.multimedia[0].url}}" alt="" />
        </div>
        <div class="story">
          <a href="{{story.url}}" target="blank"><h3 class="display-1">{{story.title}}</h3></a>
          <p id='words'>{{story.abstract}}</p>
          </div>
        </div>

    </div>
  </div>
</div>
