<div class="news-wrapper">
  <!-- <div class="modal-header" align="center">
      <img class="img-circle" id="img_logo" src="images/Snippetto.png">
      <h1 id='snippetto_title'>Snippetto</h1>
    </div> -->
  <!-- NAVBAR -->
  <div ng-include="header"> </div>
  <br>
  <br>
  <div class="container-fluid">
    <h1 id='news-header' class="h1 display-1">New York Times</h1>
  </div>
  <div>
    <button class="btn btn-success" type="button" ng-click="news.getCurrentArticles()">Current Articles</button>
    <button class="btn btn-success" type="button" ng-click="news.getSavedArticles()">Saved Articles</button>
  </div>
  <div class="set-preferences" ng-show="news.showPrefs">
    <h3>Select the New York Times sections you're interested in seeing</h3> Top Articles
    <input class="news-checkbox" type="checkbox" name="home" value="home"> Opinion
    <input class="news-checkbox" type="checkbox" name="opinion" value="opinion"> World
    <input class="news-checkbox" type="checkbox" name="world" value="world"> National
    <input class="news-checkbox" type="checkbox" name="national" value="national"> Business
    <input class="news-checkbox" type="checkbox" name="business" value="business"> Technology
    <input class="news-checkbox" type="checkbox" name="technology" value="technology">
    <br> Science
    <input class="news-checkbox" type="checkbox" name="science" value="science"> Health
    <input class="news-checkbox" type="checkbox" name="health" value="health"> Sports
    <input class="news-checkbox" type="checkbox" name="sports" value="sports"> Fashion
    <input class="news-checkbox" type="checkbox" name="fashion" value="fashion"> Food
    <input class="news-checkbox" type="checkbox" name="food" value="food"> Real Estate
    <input class="news-checkbox" type="checkbox" name="realestate" value="realestate">
    <br>
    <br>
    <button class="btn btn-primary" type="button" name="button" ng-click="news.gatherPreferences()">Submit Sections</button>
  </div>
  <div ng-show="news.prefTabs">
    <div class="pref-tabs-header">
      <h3 class="h3">Browse Sections</h3>
    </div>
    <div class="pref-tabs" ng-show="news.currentArticles">
      <div ng-repeat="pref in news.preferences">
        <div ng-switch="pref.section">
          <button type="button" class="btn btn-primary" ng-switch-when="home" ng-click="news.updateNewsPage(pref.section)">Top Articles</button>
          <button type="button" class="btn btn-primary capitalize" ng-switch-default ng-click="news.updateNewsPage(pref.section)">{{pref.section}}</button>
        </div>
      </div>
    </div>
    <button class="btn btn-success" type="button" name="button" ng-click="news.showSectionSelections()">Edit Sections</button>
  </div>
  <div>
    <div ng-switch="news.currentSection">
      <h3 ng-show="news.main" ng-switch-when="home" class="capitalize" id='news_header'>The New York Times - Top Articles</h3>
      <h3 ng-switch-default class="capitalize" id='news_header'>{{news.currentSection}} Articles</h3>
    </div>
    <div ng-show="news.saved">
      <h3 id='news_header'>Saved Articles</h3>
    </div>
  </div>
  <hr />
  <div ng-show="news.main" class="scroll">
    <div class="row" ng-repeat="story in news.stories">
      <div id='news_section-and-icon_column' class="col-xs-3 col-sm-3 col-m-3 col-lg-3">
        <img id='news_icon' ng-src="{{story.multimedia[0].url}}" alt='No Article Image' />
        <h4 clas='news_section'>Section: {{story.section}}</h4>
      </div>
      <div class="col-xs-9 col-sm-9 col-m-9 col-lg-9">
        <div class="news_article">
          <a href="{{story.url}}" target="blank"><h3 class="news_title">{{story.title}}</h3></a>
          <p id='news_abstract'>{{story.abstract}}</p>
          <button ng-show="news.prefTabs" class="btn btn-success" type="button" ng-click="news.saveArticle(story.multimedia[0].url, story.section, story.title, story.url, story.abstract)">Save Article</button>
        </div>
      </div>
    </div>
  </div>

    <div ng-show="news.saved" class="scroll">
      <div class='news-row-container'>
        <div class="row" ng-repeat="story in news.stories">
          <div id='news_section-and-icon_column' class="col-xs-3 col-sm-3 col-m-3 col-lg-3">
            <img id='news_icon' ng-src="{{story.image}}" alt='No Article Image' />
            <h4 class='news_section'>Section: {{story.section}}</h4>
          </div>
          <div class="col-xs-9 col-sm-9 col-m-9 col-lg-9">
            <div class="news_article">
              <a href="{{story.url}}" target="blank"><h3 class="news_title">{{story.title}}</h3></a>
              <p id='news_abstract'>{{story.abstract}}</p>
              <button class="btn btn-danger" type="button" ng-click="news.deleteArticle(story.title)">Delete Article</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
