<h1>Reddit View</h1>
<!-- <div class="list-group-item" ng-repeat="story in reddit.redditResults"> -->
    <!-- <img src="{{story}}" alt="" /> -->
    <!-- <a href="{{story}}" target="blank"><h3 class="display-1">{{story}}</h3></href> -->
    <!-- <p>{{story.data.author}}</p> -->
<!-- </div> -->
<form class="subReddit_Post">
  <div class="list-group-item" ng-repeat="sub in reddit.redditSubList">
      <!-- <img src="{{story}}" alt="" /> -->
      <a href="/#/reddit_sub" ng-model="subreddit"><h3 class="display-1">{{sub.data.url}}</h3></href>

      <input type="button" name="name" value="{{sub.data.display_name}}" ng-model="subreddit" ng-click="reddit.getSub(sub.data.display_name)">
  </div>
</form>
