<h1>Reddit View</h1>
<form class="subReddit_Post">
    <div class="list-group-item">
        <a href="/#/reddit_sub" ng-model="subreddit" ng-click="reddit.getSub(all)"><h3 class="display-1">/r/all</h3></href>
  </div>
  <div class="list-group-item" ng-repeat="sub in reddit.redditSubList">
      <!-- <img src="{{sub.data.header_img}}" alt="" /> -->
      <!-- <a ui-sref="redditSub"><button type="button" name="twitter"><img class='img-circle img-responsive img-center icons' src="images/blue-logos/youtube-logo.png" alt="" /></button></a> -->

      <a ui-sref="reddit_sub" ng-model="subreddit" ng-click="reddit.getSub(sub.data.display_name)"><h3 class="display-1">{{sub.data.url}}</h3></href>
  </div>
</form>
