<h1>This is the traffic page</h1>
<form class="simple-form">
  <h3>Enter your Work Address...</h3>
  <div class="list-group-item">
    <!-- <a href="/#/reddit_sub" ng-model="subreddit" ng-click="reddit.getSub(all)"><h3 class="display-1">/r/all</h3></href> -->
    <input type="text" name="street" value="" ng-model="workAddress.street" placeholder="Street">
    <input type="text" name="city" value="" ng-model="workAddress.city" placeholder="City">
    <input type="text" name="state" maxlength="2" value="" ng-model="workAddress.state" placeholder="State">
    <input type="number" name="zip" max="99999" value="" ng-model="workAddress.zip" placeholder="Zip Code">
    <input type="submit" name="sumbitAddress" value="Save" ng-click ='traffic.workAddGet(workAddress)'>
  </div>
</form>
<div id="map" data-tap-disabled="true" ng-controller="trafficController"></div>
