<div class="members_wrapper">
  <a href="http://localhost:8000/#/members"><button type="button" name="button"><img id='back-icon'src="images/navigate-left.ico" alt="" /></button></a>
<div class="col-md-2 col-md-offset-5">
  <h1 id='weather-city'>{{weather.city}}</h1>
  <img id='weather-icon'src="http://openweathermap.org/img/w/{{weather.weatherImg}}.png" alt="" />
  <h3 id='weather-description'>{{weather.desc}}</h3>
  <h1 id='weather-temp'>{{weather.temp}}</h1>

</div>

</div>
<div class="small-weather">
  <h4>{{weather.day1}}</h4>
  <img src="http://openweathermap.org/img/w/{{weather.day1_icon}}.png" alt="" />
  <h5>{{weather.min_temp1}} / {{weather.max_temp1}}</h5>
  <h4>{{weather.day2}}</h4>
  <img src="http://openweathermap.org/img/w/{{weather.day2_icon}}.png" alt="" />
  <h5>{{weather.min_temp2}} / {{weather.max_temp2}}</h5>
  <h4>{{weather.day3}}</h4>
  <img src="http://openweathermap.org/img/w/{{weather.day3_icon}}.png" alt="" />
  <h5>{{weather.min_temp3}} / {{weather.max_temp3}}</h5>
</div>
