<div ng-include src="'views/header.html'"></div>
<br>
<br>
<div ng-controller="trafficController">
    <div ng-show="traffic.trafficSwitch === true">
        <div class="durationToDestinationDiv">Duration to destination with traffic: {{traffic.durationToDestination}}</div>
        <input type="submit" class="trafficButtonSave" name="name" value="Enter a New Address" ng-click='traffic.showSaveNewAddress()'>
        <div ng-show='traffic.trafficAddNewAddress'>
            <form class="simple-form">
                <h3 class="enterDestinationH3">Enter your Destination Address...</h3>
                <div class="optionsContainer">
                    <input type="text" name="street" value="" ng-model="workAddress.street" placeholder="Street">
                    <input type="text" name="city" value="" ng-model="workAddress.city" placeholder="City">
                    <input type="text" name="state" maxlength="2" value="" ng-model="workAddress.state" placeholder="State">
                    <input type="number" name="zip" max="99999" value="" ng-model="workAddress.zip" placeholder="Zip Code">
                    <input type="submit" name="sumbitAddress" value="Save" ng-click='traffic.workAddGet(workAddress)'>
                </div>
            </form>
        </div>
        <div id="map" data-tap-disabled="true"></div>
    </div>
</div>
